<!DOCTYPE html>
<html>
  <head>
    <title>Asymetry detection</title>
  </head>
  <body>
    <div id="root"></div> 
    {% block javascript %}

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script  src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', path='/components/index.jsx') }}" type="text/babel"></script>
    <script src="{{ url_for('static', path='/main.jsx') }}" type="text/babel" data-type="module" data-presets="react"></script>

    
  
    {%  endblock %}

  </body>
</html>
